@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
   
}
body {
    background-image: url(./src/newnew.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.loginSection {

    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: rgb(224, 223, 223);
    
}

.main {
    margin-top: 10rem;
}

.login {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}
.login h3{
    margin-left: 1rem;
    margin-top: 1rem;
}

.secondDiv {
     background-color: rgb(224, 223, 223);
}
.loginSection p {
    text-align: center;
}
